@import "../../../style/main.scss";

.section {
  background-color: $color_white;

  &.grey {
    background-color: $color_white_grey;
  }

  &.yellow {
    background-color: $color_secondary_yellow;
    color: $color_white;
  }
}

.container {
  height: 100%;
}
