@import "../../../style/main.scss";

.button {
  min-height: 45px;
  border-radius: 32.5px;
  border: 1px solid $color_complementary_green;
  background-color: transparent;
  color: #46b8c8;
  padding: 0 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 100% */
  letter-spacing: -0.18px;

  &:hover {
    background-color: $color_complementary_green;
    color: #fff;
    transition: 0.25s;
  }

  &.full {
    background-color: $color_complementary_green;
    color: $color_white;

    &:hover {
      background-color: transparent;
      color: $color_complementary_green;
      transition: 0.25s;
    }
  }
}
