@import "../../../style/main.scss";

.wrapper {
  padding: 140px 0;

  @include media-query-xl {
    padding: 140px 108px 0;
  }

  .title {
    color: $color_typography;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 100% */
    letter-spacing: -1px;
    margin-bottom: 32px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;

    @include media-query-lg {
      grid-template-columns: 1fr 1fr;
    }
  }
  .section_second {
 
    width: 100%;
   

    &_wrapper {
       padding: 180px 0;
      width: 100%;
    
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_title {
      max-width:882px;
      color: $color_primary_orange;
      text-align: center;
      margin: 0 34px;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 50px; /* 125% */
      letter-spacing: -0.4px;
     
    }
  }
}
